.successModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 731px;
  height: 589px;
  border-radius: 20px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .thanksMessage {
    font-weight: 700;
    font-size: 30px;
    line-height: 70px;
    margin: 0;
  }
  .contact {
    font-weight: 700;
    font-size: 20px;
    line-height: 45.5px;
    color: rgba(33, 38, 40, 0.7);
    margin: 0;
  }
  .supportContent {
    width: 553px;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0.005em;
    margin-bottom: 60px;
  }
  .checkIconWrapper {
    margin-top: 68px;
    margin-bottom: 47px;
    background-image: linear-gradient(
      270deg,
      rgba(194, 53, 132, 0.6) 0%,
      rgba(226, 48, 108, 0.6) 24.48%,
      rgba(247, 119, 54, 0.6) 83.85%,
      rgba(250, 150, 62, 0.6) 100%
    );
    width: 75px;
    height: 75px;
    border-radius: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .submitBtnWrapper {
    width: 370px;
  }
}
